.headerImage {
    background-image: url('../resources/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
    padding-top: 20em !important;
    padding-bottom: 20em !important;
}

.mainName, .quote {
    text-align: left;
    padding-left: 20% !important; 
    text-shadow: 2px 2px 4px black;
}

.mainName {
    font-size: 6em !important;

}

.quote {
    font-size: 2.5em !important;
}

button {
    margin-left: 20% !important;
}

